.red{
  color: #ff0000;
}
.bold{
  font-weight: bold;
}

.Button {
  border: 1px solid #009435;
  padding:16px;
  background-color: #009435;
  border-radius: 10px;
  cursor: pointer;
  color:#000;
  outline:none;
}

.Button:hover{
  border:1px solid #ff0000;
  background-color: #ff0000;
  outline:none !important;
}

.Button:focus{
  outline:none;
}


.Button.Red{
  background-color: #ccc;
}

.Button.Red:hover{
  background-color: #000;
  color:#fff;
}
